<h2>Input Here!</h2>
<form method="POST" action="/new">
    <label>User Name:</label>
    <input type="text" name="messageUser">
    <label>Message: </label>
    <input type="text" name="messageText">
    <button type="submit">Submit</button>
</form>