<h2 class="inputHeader">Input Here!</h2>
<form method="POST" action="/new">
    <input type="text" name="messageTitle" placeholder="Title" id="messageTitle">
    <input type="text" name="messageText" placeholder="Message Text" id="messageText">
    <input type="text" name="messageUser" placeholder="Name">
    <button type="submit">Submit</button>
</form>